$main-font-stack: 'Montserrat',
sans-serif;
$second-font-stack: 'Kaushan Script',
cursive;
$paragraph-font-stack: 'Roboto',
sans-serif;
$main-font-size: 14px;
$main-font-color: rgb(51, 51, 51);
$header-color: #ffffff;
$header-hover-color: #fce38a;
$pseudo-color: #f38181;
$paragraph-color: rgb(153, 153, 153);
$overlay-first-color: rgba(149, 225, 211, 0.9);
$overlay-second-top-gradient-color: rgba(243, 129, 129, 0.9);
$overlay-second-bottom-gradient-color: rgba(251, 227, 137, 0.9);
$footer-border-color: #e5e5e5;
$footer-email-color: rgb(204, 204, 204);
